.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #0074f8;
  width: fit-content;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  gap: 8px;
}

.arrow {
  height: 100%;
  width: auto;
}
